.wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas:
  "nav nav"
  "header header"
  "main main"
  "footer footer";
}

html {
  font size: 100%;

}

body {
  margin: 0px;
  padding: 0 px;
  min-height: 100vh;
  background-color: #fefefe;
  font-family: 'objektiv-mk1', sans-serif;
  font-weight: 500;
}

* {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

nav {
  position: fixed;
  width: 100%;
  grid-area: nav;
  background-color: #1c2833;
  border-bottom: 5px solid #ed5565;
  height: 100px;
  padding: 10px;
  @media (min-width: 600px) {
    padding: 20px;
  }
}

nav.flexbox{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

 ul {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}

ul li{
  margin-right: 100px;
  &: last-child {
  margin-right: 0px;
  }
}

a {
  text-decoration: none;
  color: #f2f1ef;
  font-size: 20px;
}

li a:hover {
  color: #ed5565;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 237px;
  height: 34px;
}

.logo img {
  width: 100%;
}
/*........................*/
header {
  grid-area: header;
}

.headerwrap {
  display: grid;
  grid-template-columns: 60% 40%;
  grid-template-rows: auto;
  grid-template-areas:
  "intro illustration";
}

.intro {
  grid-area: intro;
  color: #1c2833;
  margin-top: 300px;
  margin: 0px;
  padding-top: 350px;
  padding-left: 100px;
}

h1.name {
  font-size: 80px;
  font-family: Objektiv-mk1, sans-serif ;
  font-weight: 700;
  padding: 0px;
  margin: 0px;
  margin-top: 20px;
}

h2 {
  padding: 0px;
  margin-top: 10px;
  font-size: 50px;
}

p {
  margin: 0px;
  font-size: 40px;
}

.illustration {
  grid-area: illustration;
  width: 100%;
  height: 100%;
  padding-right: 20px;
  padding-top: 20px;
}

.imgillustration {
  width: 100%;
  height: 100%;
}

main{
  grid-area: main;
  margin: 0px;
  padding: 0px;
  padding-top: 10px;
}

.about-flex-container {
  display: flex;
  justify-content: space-between;
  background-color: #1c2833;
  color: #f2f1ef;
  height:700px;
}

.about-item {
  margin-left: 140px;
  margin-top: 110px;
}

.about-item h1 {
  font-size: 80px;
  padding-top: 0px;
}

.portrait-item {
  margin-right: 0px;
  padding-right: 0px;

}
/*få portræt til at virke*/
.imgportrait {
  height: 700px;
  margin-bottom: 0px;
  padding-bottom: 0px;
  padding-top: 100px;
}

/*Få projects til at virke*/
.projects {
  background-color: #3e3e3e;
}
div .projects h1{
  text-align: center;
  color: #f2f1ef;
padding-top: 60px;
  margin-top: 60PX;
  margin-bottom: 40PX;
}

.projects-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
  justify-content: center;
}

.grid-box {
  background: url(Images/cats-stock.jpg);
  background-size: cover;
  height: 500px;
  width: 600px;
  margin: 20px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

/*få copyright centreret*/

footer{
  grid-area: footer;
  background-color: #1c2833;
  color: #fefefe;
  border-top: 5px solid #fefefe;
  height: 100px;
  margin: 0px;
  padding: 0px;
}

.copyright {
align-items: center;
}

.footerflex {
display: flex;
justify-content: flex-end;
align-items: center;
margin-left: 0px;
}
