html {
  font size: 100%;
  box-sizing: border-box;
}

body {
  margin: 0px;
  padding: 0 px;
  min-height: 100vh;
  background-color: #fefefe;
  font-family: 'objektiv-mk1', sans-serif;
  font-weight: 500;
}

*, *::before, *::after {
  box-sizing: inherit;
}

nav {
  background-color: #1c2833;
  height: 130px;
  padding: 10px;
  @media (min-width: 600px) {
    padding: 20px;
  }
}

nav.flexbox{
  display: flex;
  justify-content: space-between;
  align-items: center;

}

 ul {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}

ul li{
  margin-right: 100px;

  &: last-child {
  margin-right: 0px;
  }
}

a {
  text-decoration: none;
  color: #f2f1ef;
  font-size: 20px;
}

li a:hover {
  color: #ed5565;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 237px;
  height: 34px;
}

.logo img {
  width: 100%;
}
