.wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas:
  "nav nav"
  "header header"
  "main main"
  "footer footer";
}

html {
  font size: 100%;
  overflow-x: hidden;
}

body {
  margin: 0px;
  padding: 0 px;
  min-height: 100vh;
  background-color: #1c2833;
  font-family: 'objektiv-mk1', sans-serif;
  font-weight: 500;
}

* {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

/*.............navigationbar..............*/

nav {
  position: fixed;
  z-index: 99;
  width: 100%;
  grid-area: nav;
  background-color: #1c2833;
  border-bottom: 5px solid #ed5565;
  height: 100px;
  padding: 10px;
  @media (min-width: 600px) {
    padding: 20px;
  }
}

nav.flexbox{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

 ul {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}

ul li{
  margin-right: 100px;
  &: last-child {
  margin-right: 0px;
  }
}

a {
  text-decoration: none;
  color: #f2f1ef;
  font-size: 20px;
}

li a:hover {
  color: #ed5565;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 237px;
  height: 34px;
}

.logo img {
  width: 100%;
}

/*..........Introduktion..............*/
header {
  grid-area: header;
  background-color: #fefefe;
}

.headerwrap {
  display: grid;
  grid-template-columns: 60% 40%;
  grid-template-rows: auto;
  grid-template-areas:
  "intro illustration";
}

.intro {
  grid-area: intro;
  color: #1c2833;
  margin-top: 300px;
  margin: 0px;
  padding-top: 350px;
  padding-left: 100px;
}

h1.name {
  font-size: 80px;
  font-family: Objektiv-mk1, sans-serif ;
  font-weight: 700;
  padding: 0px;
  margin: 0px;
  margin-top: 20px;
}

h2 {
  padding: 0px;
  margin-top: 10px;
  font-size: 50px;
  padding-left: 100px;
}

p {
  margin: 0px;
  font-size: 40px;
  padding-left: 50px;
}

.illustration {
  grid-area: illustration;
  padding-right: 20px;
  padding-top: 20px;
}

.imgillustration {
  position:relative;
  top: 150px;
  left: 50px;
  height:80%;
}

/*...........Main content............*/

main{
  grid-area: main;
  margin: 0px;
  padding: 0px;
  padding-top: 10px;
}

.about-flex-container {
  display: flex;
  justify-content: space-between;
  background-color: #1c2833;
  color: #f2f1ef;
  height:700px;
}

.about-item {
}

h2.about-me {
  font-size: 80px;
  font-weight: 700;
  padding-left: 100px;
  margin-top: 100px;
}

p.about-text {
  padding-left: 100px;
  font-size: 32px;
}

h3 {
  font-size: 50px;
  padding-left: 100px;
  padding-top: 50px;
}
ul.competences {
  justify-content: space-evenly;
  padding-left: 100px;
  font-size: 40px;
}
/*
få portræt til at virke-->position:relative; kan left og top til at flytte det.
*/
.imgportrait {
  height: 700px;
  position: relative;
  left: 15px;
  top: 60px;

}

/*...........Projects................*/
/*
Få projects til at virke-->brugte flexbox i stedet for grid. lavede tre separate containers
*/

div .projects {
  background-color: #3e3e3e;
}

div .projects h1{
  text-align: center;
  color: #f2f1ef;
  padding-top: 60px;
  margin-top: 60PX;
  margin-bottom: 40PX;
  font-size: 80px;
  font-weight: 700;
}

.flex-container1 {
  display:flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-shrink: 1;
}

.flex-container2 {
  display:flex;
  justify-content: center;
}

.flex-container3 {
  display:flex;
  justify-content: center;
}

.flex-item {
  background: url(Images/cats-stock.jpg);
  background-size: cover;
  height: 500px;
  flex-basis: 45%;
  margin: 25px 20px;
}

.flex-item3 {
  background: url(Images/cats-stock.jpg);
  background-size: cover;
  height: 500px;
  flex-basis: 45%;
  margin: 25px 20px;
  margin-bottom: 150px;
}

/*............Contact...........*/

.contact {
  display: flex;
  justify-content: space-between;
  background-color: #fefefe;
  border-radius: 1px solid red;
  height: 700px;

}

.info {
  border-radius: 1px solid red;
}

h2.contact-header {
  border-radius: 1px solid red;

}

.contact-illustration {
  border-radius: 1px solid red;

}

.imgcontactillustration {
  position:relative;
  top: 150px;
  left: 50px;
  height:80%;
}

/*.............Footer..............*/

/*
få copyright centreret og footer helt ned i bunden --> ændrede background-color til samme farve og faked it
*/

footer{
  grid-area: footer;
  background-color: #1c2833;
  color: #fefefe;
  border-top: 5px solid #ed5565;
  height: 100px;
  margin: 0px;
  padding: 0px;
}

.copyright {
  text-align: center;
  padding: 40px 0px;
}

/*............Media queries...........*/


@media screen and () {

}
